@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
.disableScroll{
  overflow: hidden;
}
body{
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #07060c;
  color: var(--warna-paragraft);
  line-height: 1.2;
  font-size: 5vw;
}
button:hover{
  background-color: #000000e6;
  border: 2px solid var(--warna-button);
  color:  var(--warna-heading);
}
::-webkit-scrollbar{
  display: none;
}
:root{
  --warna-heading: #ffffff;
  --warna-paragraft: #fafafa;
  --warna-button: #ff8a00;
}
/* CIRCLE */
.circle{
  z-index: -100;
  position: absolute;
  width: 80%;
  opacity: 80%;
}
.circle1{
  left: 0;
  top: 50vw;
}
.circle2{
  top: 360vw;
  right: 0;
}
.circle3{
  left: 0;
  top: 800vw;
}
#about, #service, #skils, #project, #contact{
  z-index: -200;
}


main{
  width: 90%;
  margin: 10px auto;
}

section{
  padding: 10px;
  margin: 50px 0px 0px 0px;
}

span{
  color: var(--warna-button);
}
h2{
  color: var(--warna-heading);
  font-size: 7vw;
}
p{
  color: var(--warna-paragraft);
  font-size: 4vw;
}
.title-section,
.link-more{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 2px;
}
.container{
  padding: 10px;
}
.card{
  padding: 20px;
  width: 250px;
  background-color: #2323232e;
  border: 2px solid var(--warna-button);
  border-radius: 20px 10px 20px 10px;
  display: flex;
  gap: 10px;
}



/* HEADER */
.headerScroled{
  position: sticky;
  top: 0;
  background-color: #07060c;
  box-shadow: 0px 5px 25px #000000;
}
header{
  padding: 15px 0px 15px 20px;
  position: relative;
  z-index: 100;
}
header .title-h h1{
  font-size: 6vw;
}

header nav{
  background-color: #1a1a1a;
  padding: 20px;
  position: absolute;
  width: 91%;
  left: 0;
  top: -450px;
  z-index: 2000;
  opacity: 0;
  transition: 1s;
}
header nav ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 80px;
  transition: 1s;
  margin: auto;
  padding: 0px;
}
header nav ul a{
  text-decoration: none;
  color: var(--warna-paragraft);
}
header nav ul a li{
  list-style: none;
}
header nav ul a li:hover{ 
  color: var(--warna-button);
}
header label i{
  position: absolute;
  font-size: 7vw;
  right: 20px;
  top: 20px;
}
#menu,
#close{
  z-index: 0;
  cursor: pointer;
}
#check,
#close{
  display: none;
}
#check:checked ~ nav{
  left: 0;
  opacity: 100;
  top: 76px;
}
#check:checked ~ label #close{
  display: block;
}
#check:checked ~ label #menu{
  display: none;
}



/* About */
#about{
  display: flex;
  flex-direction: column-reverse;
  gap: 20vw;
  margin-top: 100px;
  z-index: -2;
}
#about #left{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#about #left .text{
  display: flex;
  flex-direction: column;
}
#about #left .text span{
  margin-bottom: -40px;
}
#about #left .text p{
  margin-top: -10px;
}
#about #left .btn{
  display: flex;
  gap: 20px;
  padding: 5px;
}
#about #left .btn button{
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  background-color: var(--warna-button);
  cursor: pointer;
  transition: 0.7s;
}
#about #left .btn button:hover{
  background-color: #000000e6;
  border: 1px solid var(--warna-button);
  color:  var(--warna-heading);
}
#about #right{
  width: 80%;
  margin: auto;
  
  display: flex;
  justify-content: center;
}
#about #right .image{
  width: 90%;
  z-index: -100;
}
#about #right .image img{
  height: auto;
  width: 100%;
}
#about #right .media-social{
  z-index: 1;
}
#about #right .media-social i{
  font-size: 8vw;
  color: var(--warna-button);
  position: absolute;
  transform: translate(0px, 110px);
  cursor: pointer;
  opacity: 0;

  animation-name: opacity;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 4000ms;
}
@keyframes opacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#about #right .media-social .fa-instagram{
  right: 70vw;
  top: 10vw;
}
#about #right .media-social .fa-github{
  right: 84vw;
  top: 28vw;
}
#about #right .media-social .fa-linkedin{
  right: 84vw;
  top: 52vw;
}
#about #right .media-social .fa-tiktok{
  left: 24vw;
  top: 73vw;
}


/* Service */
#service, #skils, #project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#service .container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
#service .container .fristAndSecond{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#service .card{
  flex-direction: column;
}
#service .card .image{
  margin: auto;
  width: 80%;
}
#service .card .text{
  flex: 1;
}
#service .card .text h2,
#skils .card h2{
  font-size: 5vw;
}




/* Skils */
#skils .container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
#skils .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#skils .card .icon{
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
#skils .card .icon img{
  width: 30%;
}
#skils .card p{
  font-size: 3vw;
}



/* Project */
#project .container{
  width: 100%;
}
#project .slider .card-project{
  width: 50vw;
  height: 50vw;
  border: 3px solid var(--warna-button);
  border-radius: 20px;
  overflow: hidden;
}
#project .slider .card-project{
  width: 50vw;
  height: 50vw;
}
#project .slider .card-project img{
  width: 100%;
}



/* Contact Me */
#contact .title-contact{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
#contact .title-contact h2,
#contact .title-contact span{
  font-size: 7vw;
}
#contact .title-contact p{
  padding: 20px 5px;
  font-size: 4vw;
}
#contact form label{
  font-size: 3vw;
}
#contact form input,
#contact form textarea{
  width: 80%;
  height: 5vh;
  margin: auto;
  padding: 5px 15px;
  font-size: 4vw;

  background-color: #2323232e;
  border: 2px solid var(--warna-button);
  border-radius: 20px 10px 20px 10px;
  color: #ffffff;
}
#contact form input:focus,
#contact form textarea:focus{
  border: 2px solid var(--warna-button);
  outline: #ff8a00;
}
#contact form textarea{
  height: 20vh;
}
#contact form button{
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  background-color: var(--warna-button);
  transition: 0.8s;
}
#contact form button:hover{
  background-color: #000000e6;
  border: 1px solid var(--warna-button);
  color:  var(--warna-heading);
}


/* Footer */
footer{
  background-color: #07060cb0;
  height: 70vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
footer .medsos
footer .tech{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  text-align: center;
  line-height: 26px;
}
footer .tech .icon,
footer .medsos .icon{
  display: flex;
  gap: 20px;
}
footer .tech .icon img{
  width: 8vw;
  object-fit: fill;
}
footer .medsos .icon i{
  
  color: var(--warna-button);
  font-size: 8vw;
}
footer .medsos h1,
footer .tech h1{
  font-size: 5vw;
  text-align: center;
}




/* POP UP CV */
#popup-cv{
  background: #07060ce6;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  visibility: hidden;
}
#popup-cv .container{
  display: grid;
  justify-content: center;  
}
#popup-cv .container .content{
  width: 90%;
  height: 100%;
  overflow: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
#popup-cv .container .content img{
  width: 100%;
  margin: auto;
}
#popup-cv .container .btn{
  position: static;
  padding: 20px 0px 0px 0px;
  margin: auto;
  cursor: pointer;
}
#popup-cv .container .btn #download span{
  font-size: 5vw;
}
#popup-cv .container .btn #download i{
  color: var(--warna-button);
  font-size: 5vw;
}
#popup-cv .container .close{
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 4vw;
  color: var(--warna-button);
  cursor: pointer;
}




#alert{
  width: 70%;
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #07060c;
  border: 2px solid var(--warna-button);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  visibility: hidden;
}
#alert .btn{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
#alert .btn button{
  cursor: pointer;
  padding:5px 35px;
  color: black;
  border: none;
  border-radius: 20px;
  background-color: var(--warna-button);
}




/* Certificate */
#main-contain{
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #000000e6;
  position: absolute;
  top: 0;
  visibility: hidden;
  overflow: hidden;
}
#popup-certificate{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#popup-certificate .container{
  margin: auto;
  width: 90%;
  overflow: hidden;
}
#popup-certificate .container .slider{
  display: flex;
  gap: 50px;
  overflow: scroll;
  top: 50%;
  transform: translate(0%, -50%);
  position: absolute;
}
#popup-certificate .container .slider .card{
  width: 80vw;
  padding: 0px;
  overflow: hidden;
  border: 2px solid var(--warna-button);
  transition: 1.3s;
  margin: 10px;
  display: block;
}
#popup-certificate .container .slider .card:hover{
  transform: scale(1.02);
}
#popup-certificate .container .slider .card:hover #detail-certificate{
  transform: translate(0%, 0%);
}
#popup-certificate .container .slider .card img{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
#popup-certificate .container .slider .card #detail-certificate{
  background-color: #07060ce9;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  overflow: hidden;
  transform: translate(0%, 100%);
  transition: 1.1s;
}
#popup-certificate .container .slider .card #detail-certificate .text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 50%;
  transform: translate(10%, -60%);
}
#popup-certificate .container .slider .card #detail-certificate .text{
  width: 80%;
  font-size: 4.4vw;
  margin: auto;

  font-family: 'poppins', sans-serif;
}
#popup-certificate .container .slider .card #detail-certificate .text p span{
  font-size: 4.4vw;
}
#main-contain .close{
  position: relative;
  top: 30px;
  right: 30px;
  font-size: 3vw;
  color: var(--warna-button);
}
#main-contain .close i{
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 9vw;
  color: var(--warna-button);
}