@media screen and (min-width: 200px) and (max-width: 520px){
  .card{
    width: 80%;
    margin: auto;
  }
  .circle3{
    left: 0;
    top: 1000vw;
  }


  #about #left .text span{
    margin-bottom: -20px;
  }
  #about #right .image img{
    transform: translate(0rem, -0.2rem);
  }
  #about #right .media-social i{
    font-size: 8vw;
    color: var(--warna-button);
    position: absolute;
    transform: translate(7px, 2px);
  }


  #contact .title-contact p{
    margin-top: -36px;
  }
}

@media screen and (min-width: 520px){
  section{
    padding: 10px;
    margin: 50px 0px 0px 0px;
  }
  span{
    color: var(--warna-button);
  }
  h2{
    color: var(--warna-heading);
    font-size: 3vw;
  }
  p{
    color: var(--warna-paragraft);
    font-size: 2vw;
  }
  .card{
    padding: 20px;
    width: 20vw;
    background-color: #2323232e;
    border: 2px solid var(--warna-button);
    border-radius: 20px 10px 20px 10px;
    display: flex;
    gap: 10px;
  }

  /* Circle */
  .circle{
    width: 60%;
    opacity: 70%;
  }
  .circle1{
  left: 0;
  top: 3vw;
  }
  .circle2{
    top: 110vw;
    right: 0;
  }
  .circle3{
    left: 0;
    top: 390vw;
  }


  /* About */
  #about{
    flex-direction: row;
  }
  #about #left .text span{
    font-size: 2.7vw;
    margin-bottom: -13px;
  }
  #about #right .image{
    transform: translate(0px, -53px);
  }
  #about #right .media-social{
    margin-top: -4vw;
    z-index: -200;
  }
  #about #right .media-social i{
    font-size: 4vw;
    color: var(--warna-button);
    position: absolute;
    margin-top: -1vw;
  }
  #about #right .media-social .fa-instagram{
    right: 26vw;
    top: 6vw;
  }
  #about #right .media-social .fa-github{
    right: 31vw;
    top: 13vw;
  }
  #about #right .media-social .fa-linkedin{
    right: 31vw;
    top: 21vw;
  }
  #about #right .media-social .fa-tiktok{
    left: 69vw;
    top: 27vw;
  }
  #about #left .btn button{
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    font-size: 1.6vw;
    background-color: var(--warna-button);
  }



  /* Service */
  #service .container .fristAndSecond{
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  #service .card .text h2{
  font-size: 2vw;
  }
  #service .card .text p{
    font-size: 1.4vw;
    margin-top: -1.5vw;
  }
  #service .card .image{
    display: flex;
    justify-content: center;
  }
  #service .card .image img{
    width: 100%;
    height: 80%;
    object-fit: contain;
    margin: auto;
  }


  /* Skils */
  #skils .container{
    margin: auto;
    flex-direction: row;
    flex-wrap:wrap-reverse
  }
  #skils .container .card h2{
    font-size: 4vw;
  }
  #skils .container .card p{
    font-size: 2vw;
  }
  #skils .card .icon img{
    width: 20%;
  }


  /* Project */
  #project .slider .card-project{
    width: 30vw;
    height: 30vw;
    border: 3px solid var(--warna-button);
    border-radius: 20px;
    overflow: hidden;
  }


  /* Contact */
  #contact{
    margin: 5px auto;
    display: flex;
    flex-direction: row;
  }
  #contact .title-contact h2,
  #contact .title-contact span{
    font-size: 6vw;
  }
  #contact .title-contact p{
    font-size: 3vw;
    margin-top: -46px;
  }
  #contact .form button{
    font-size: 3vw;
    padding: 5px 20px;
  }
}

@media screen and (min-width: 800px) {
  #about{
    flex-direction: row;
  }
  #about #right .media-social i{
    margin-top: -3vw;
  }
  .circle3{
    left: 0;
    top: 250vw;
  }
}

@media screen and (max-width: 800px) {
  header{
    
  }
}