
/* GENERAL */
@media screen and (min-width: 200px) and (max-width: 520px){
  .card{
    width: 80%;
    margin: auto;
  }
  .circle3{
    left: 0;
    top: 8 00vw;
  }


  /* ABOUT */
  #about #left .text span{
    margin-bottom: -20px;
  }
  #about #right .image img{
    transform: translate(0rem, -0.2rem);
  }

  /* CONTACT */
  #contact .title-contact p{
    margin-top: -36px;
  }
}
@media screen and (min-width: 520px){
  section{
    padding: 10px;
    margin: 50px 0px 0px 0px;
  }
  span{
    color: var(--warna-button);
    font-size: 1.8vw;
  }
  h2{
    color: var(--warna-heading);
    font-size: 2vw;
  }
  p{
    color: var(--warna-paragraft);
    font-size: 1.3vw;
  }
  .card{
    padding: 20px;
    width: 20vw;
    background-color: #2323232e;
    border: 2px solid var(--warna-button);
    border-radius: 20px 10px 20px 10px;
    display: flex;
    gap: 10px;
  }

  /* Circle */
  .circle{
    width: 60%;
    opacity: 70%;
  }
  .circle1{
  left: 0;
  top: 3vw;
  }
  .circle2{
    top: 110vw;
    right: 0;
  }
  .circle3{
    left: 0;
    top: 300vw;
  }

    /* HEADER */
    header .title h1{
      font-size: 3.5vw;
    }


  /* About */
  #about{
    flex-direction: row;
  }
  #about #left .text span{
    font-size: 1.9vw;
    margin-bottom: -13px;
  }
  #about #right .media-social{
    margin-top: -4vw;
    z-index: -200;
  }
  #about #right .media-social i{
    font-size: 3.3vw;
    color: var(--warna-button);
    position: absolute;
    margin-top: -1vw;
  }
  #about #right .media-social .fa-instagram{
    right: 26vw;
    top: 6vw;
  }
  #about #right .media-social .fa-github{
    right: 31vw;
    top: 13vw;
  }
  #about #right .media-social .fa-linkedin{
    right: 31vw;
    top: 21vw;
  }
  #about #right .media-social .fa-tiktok{
    left: 69vw;
    top: 27vw;
  }
  #about #left .btn{
    padding: 5px 0px;
  }
  #about #left .btn button{
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    font-size: 1vw;
    background-color: var(--warna-button);
  }
  #about #right .image{
    width: 60%;
  }



  /* Service */
  #service{
    gap: 10px;
  }
  #service .container .fristAndSecond{
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  #service .card .text p,
  #service .card .text h2{
    font-size: 1.4vw;
  }
  #service .card .image{
    display: flex;
    justify-content: center;
  }
  #service .card .image img{
    width: 50%;
    height: 80%;
    object-fit: contain;
    margin: auto;
  }


  /* Skils */
  #skils .container{
    margin: auto;
    flex-direction: row;
    flex-wrap:wrap-reverse
  }
  #skils .container .card h2{
    font-size: 4vw;
  }
  #skils .container .card p{
    font-size: 2vw;
  }
  #skils .card .icon img{
    width: 20%;
  }


  /* Project */
  #project .slider .card-project{
    width: 30vw;
    height: 30vw;
    border: 3px solid var(--warna-button);
    border-radius: 20px;
    overflow: hidden;
  }


  /* Contact */
  #contact{
    margin: 5px auto;
    display: flex;
    flex-direction: row;
  }
  #contact .title-contact h2,
  #contact .title-contact span{
    font-size: 6vw;
  }
  #contact .title-contact p{
    font-size: 3vw;
    margin-top: -46px;
  }
}
@media screen and (min-width: 800px) {
  .circle3{
    left: 0;
    top: 140vw;
  }

  section{
    margin: 30px 0px;
  }


  /* ABOUT */
  #about{
    flex-direction: row;
  }
  #about #right .media-social i{
    margin-top: -3vw;
    transform: translate(1px, 130px);
  }
  #about #right .image{
    transform: translate(-10px, 0px);
  }


  /* SERVICE */
  #service .container{
    flex-direction: row;
  }
  #service .card .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  /* SKILS */
  #skils .container .card h2{
    font-size: 2.3vw;
  }
  #skils .container .card p{
    font-size: 1.8vw;
  }

  /* PROJECT */
  #project .slider .card-project{
    width: 20vw;
    height: 20vw;
  }

  /* CONTACT */
  #contact .title-contact h2,
  #contact .title-contact span{
    font-size: 3.3vw;
  }
  #contact .title-contact p{
    padding: 20px 20px 20px 0px;
    font-size: 2vw;
  }
  #contact form label{
    font-size: 1.4vw;
  }
  #contact form button{
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    font-size: 1.6vw;
    background-color: var(--warna-button);
  }

  /* FOOTER */
  footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  footer .medsos h1,
  footer .tech h1{
    font-size: 4vw;
  }
  footer .tech .icon img{
    width: 3.5vw;
    object-fit: fill;
  }
  footer .medsos .icon i{
    color: var(--warna-button);
    font-size: 3.5vw;
  }
}

/* RESPONSIVE MEDIASOCIAL */
@media screen and (min-width: 520px) and (max-width: 700px){
  #about #right .media-social i{
    font-size: 4vw;
  }
  #about #right .media-social i{
    transform: translate(-2px, 100px);
  }
  #about #right .image{
    transform: translate(5px, -30px);
  } 
}
@media screen and (min-width: 700px) and (max-width: 760px){
  #about #right .media-social i{
    font-size: 4vw;
  }
  #about #right .media-social i{
    transform: translate(-6px, 90px);
  }
  #about #right .image{
    transform: translate(0px, -25px);
  }
}
@media screen and (min-width: 760px)  and (max-width: 800px){
  #about #right .media-social i{
    font-size: 4vw;
  }
  #about #right .media-social i{
    transform: translate(-8px, 80px);
  }
  #about #right .image{
    transform: translate(0px, -25px);
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px){
  #about #right .media-social i{
    font-size: 3.7vw;
  }
  #about #right .media-social i{
    transform: translate(-20px, 110px);
  }
}
@media screen and (min-width: 1000px) {
  #about #right .media-social i{
    font-size: 3.7vw;
  }
  #about #right .media-social i{
    transform: translate(-20px, 100px);
  }
}

/* NAVBAR */
@media screen and (min-width: 700px){
  #menu,
  #close{
    display: none;
  }
  header{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    margin-top: -20px;
  }
  header .title-h{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  header .title-h h1{
    font-size: 2vw;
  }
  header nav{
    position: static;
    opacity: 100;
    background-color: transparent;
    padding: 0px;
    transition:none;
  }
  header nav ul{
    flex-direction: row;
    gap: 20px;
    font-size: 1.4vw;
    justify-content: end;
  }
}