@media screen and (min-width: 320px) and (max-width: 450px) {
  body{
    gap: 50px;
  }
  /* Header */
  header h1{
    font-size: 19px;
  }
  header #menu{
    width: 28px;
    height: 23px;
    cursor: pointer;
  }

  /* Skils */
  #skils{
    height: auto;
  }
  #skils .card-container .card-skils{
    width: 250px;
    height: 260px;
    margin: auto;
  }

  /* Project */
  #project{
    height: auto;
  }
  #project .project-content .card-project{
    width: 250px;
    height: 250px;
  }
  #project .project-content .card-project .shadow-desc h3{
    font-size: 20px;
    color: var(--heading-color);
  }
  #project .project-content .card-project .shadow-desc p{
    width: 85%;
    font-size: 13px;
    color: var(--paragraph-color);
  }
  #project .project-content .card-project .shadow-desc button{
    font-size: 13px;
    width: 140px;
  }

  /* Contact */
  #contact{
    height: 120vh;
  }

  /* Download */
  #download{
    width: 80%;
    font-size: 5vw;
    padding: 20px 15px;
  }
  #download .btn{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 1;
  }
  #download .btn .downloaded{
    width: 100px;
  }

}
@media screen and (min-width: 451px) and (max-width: 899px) {
  .heading h1{
    font-size: 28px;
  }
  .heading p{
    font-size: 24px;
  }

  /* Header */
  header h1{
    font-size: 24px;
  }
  header #menu{
    width: 30px;
    height: 28px;
  }
  header nav{
    width: 200px;
  }
  header nav a{
    font-size: 23px;
  }

  /* Hero Section */
  #hero .image img{
    width: 30vw;
  }
  #hero .text-hero{
    width: 400px;
  }
  #hero .text-hero h1{
    font-size: 33px;
    line-height: 36px;
  }
  #hero .text-hero p{
    font-size: 19px;
    line-height: 23px;
  }
  #hero .orther-hero .icon a img{
    width: 40px;
  }
  #hero .orther-hero button{
    font-size: 20px;
  }

  /* Certificate */
  #certificate .swiper .container .certificate-card{
    width: 560px;
  }

  /* Skils */
  #skils .card-container .card-skils{
    flex: 0;
    width: 300px;
    height: 300px;
  }
  #skils .card-container .card-skils .image-skils img{
    width: 100px;
    margin-top: -50px;
  }
  #skils .card-container .card-skils .text h3{
    font-size: 27px;
  }
  #skils .card-container .card-skils .text p{
    font-size: 20px;
  }

  /* Tools */
  #tools .tools-content .toolsed h2{
    font-size: 25px;
    line-height: 28px;
  }
  #tools .tools-content .toolsed .icon-tools img{
    transition: 0.3s ease-in-out;
    animation: icon 3s ease-in-out infinite;
    width: 70px;
  }

  /* Project */
  #project{
    height: 200vh;
  }
  #project .project-content .card-project{
    width: 400px;
    height: 400px;
  }
  #project .project-content .card-project .shadow-desc h3{
    font-size: 30px;
  }
  #project .project-content .card-project .shadow-desc p{
    width: 85%;
    font-size: 20px;
    color: var(--paragraph-color);
  }
  #project .project-content .card-project .shadow-desc button{
    font-size: 20px;
    width: 140px;
  }

  /* Contact */
  #contact .heading-contact h1{
    font-size: 28px;
  }
  #contact .heading-contact p{
    font-size: 24px;
  }
  #contact form .thefield label{
    font-size: 20px;
  }
  #contact form .thefield input{
    width: 450px;
    height: 50px;
  }
  #contact form .thefield input,
  #contact form .thefield textarea{
    border-radius: 24px;
    width: 450px;
  }

  #cv .container .curriculum{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #cv .container .curriculum img{
    width: 400px;
  }
    /* Download */
    #download{
      width: 80%;
      font-size: 5vw;
      padding: 20px 15px;
    }
    #download .btn{
      display: flex;
      gap: 20px;
      justify-content: center;
      flex: 1;
    }
    #download .btn .downloaded{
      width: 150px;
    }
}
@media screen and (min-width: 900px) {
  .heading h1{
    font-size: 30px;
  }
  .heading p{
    font-size: 20px;
  }

  /* Header */
  header{
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 15px 30px;
  }
  header #menu{
    display: none;
  }
  header h1{
    font-size: 20px;
  }
  header nav{
    display: flex;
    gap: 30px;
    height: auto;
    width: auto;
    background: transparent;
    right: 0;
    position: static;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease-in-out;
    z-index: 5;
    box-shadow: 0px 0px 0px #000000;
  }
  header nav a{
    position: relative;
  }
  header nav .close-btn{
    display: none;
  }


    /* Hero Section */
    #hero .image img{
      width: 300px;
    }
    #hero .text-hero{
      width: 500px;
    }
    #hero .text-hero h1{
      font-size: 40px;
      line-height: 42px;
    }
    #hero .text-hero p{
      font-size: 20px;
      line-height: 22px;
    }
    #hero .orther-hero .icon a img{
      width: 50px;
    }
    #hero .orther-hero button{
      font-size: 23px;
    }

    /* Certificate */
    #certificate{
      height: 105vh;
    }
    #certificate .swiper .container .certificate-card{
      width: 600px;
    }

    /* Skils */
    #skils{
      height: 90vh;
    }
    #skils .card-container{
      display: flex;
      gap: 60px;
      flex-direction: row;
    }
    #skils .card-container .card-skils .image-skils img{
      width: 140px;
      margin-top: -80px;
    }
    #skils .card-container .card-skils .text{
      width: 80%;
      margin: auto;
    }
    #skils .card-container .card-skils .text h3{
      font-size: 20px;
    }
    #skils .card-container .card-skils .text p{
      font-size: 18px;
    }

    /* Tools */
    #tools{
      height: 90vh;
    }
    #tools .tools-content .toolsed h2{
      font-size: 30px;
      line-height: 32px;
    }
    #tools .tools-content .toolsed .icon-tools img{
      width: 60px;
    }

    /* Project */
    #project .project-content{
      display: flex;
      flex-direction: row;
    }
    #project .project-content .card-project{
      width: 400px;
      height: 400px;
    }
    #project .project-content .card-project .shadow-desc h3{
      font-size: 25px;
    }
    #project .project-content .card-project .shadow-desc p{
      width: 85%;
      font-size: 19px;
    }
    #project .project-content .card-project .shadow-desc button{
      font-size: 20px;
      width: 140px;
    }
    #project .all-porfolio button{
      font-size: 18px;
    }
    
    /* Contact */
    #contact .heading-contact h1{
      font-size: 28px;
    }
    #contact .heading-contact p{
      font-size: 24px;
    }
    #contact form .thefield label{
      font-size: 20px;
    }
    #contact form .thefield input{
      width: 450px;
      height: 50px;
    }
    #contact form .thefield input,
    #contact form .thefield textarea{
      border-radius: 24px;
      width: 450px;
    }
    #cv .container .curriculum{
      width: 350px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #cv .container .curriculum img{
      width: 100%;
    }
      /* Download */
  #download{
    width: 40%;
    font-size: 2vw;
    padding: 20px 15px;
  }
  #download .btn{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 1;
  }
  #download .btn .downloaded{
    width: 200px;
  }
}